
@media all and (max-width:667px) {
    #hotelLocationDiv {
        display: flex;
        /* grid-template-columns: repeat(1, 1fr); */
    }
}


@media all {
    
#mainContainer{
    margin: 15px 50px 15px 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 50px 50px 50px;
}



i {
    margin-right: 10px;
}

#hotelLocationDiv div {
    display: flex;
    align-items: center;
}
#hotelLocationDiv {
    display: grid;
    margin-top: -25px;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
}

#paidByDiv {
    display: grid;
     grid-template-columns: repeat(2,1fr);
}

#checkInDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}


#receiptNoDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

#bookingDetailsDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#hotelDetailsDiv  {
    justify-content: center;
    text-align: center;
}

#Checkin, #Checkout {
    font-weight: bold;
}


#hotelNameDiv {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

th {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
  }

  tr td {
    padding: 10px;
  }

tr:nth-child(even) {background-color: #f2f2f2;}

#hotelNameDiv p {
    font-size: 50px;
}

#receiptDiv h2{
    text-align: right;
}

#bookingDetailsDiv div {
    column-gap: 20px;
}

#rightReceiptNoDiv, #leftReceiptNoDiv  p {
    text-align: right;
}

table {
    width: 100%;
}

table tr {
    text-align: center;
}
}

@media only screen {
    
#buttondiv {
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#buttondiv button {
    width: 150px;
    height: 35px;
    text-align:center;
    border: none;
    background-color: #B5876D;
    border-radius: 5px;
    color: #F1F1F1;
    font-weight: bold;
    margin-left: 10px;
    /* width: fit-content; */
    height: 30px;
    
}
}