
  /*! CSS Used from: https://htmldemo.net/oestin/oestin/css/bootstrap.min.css */

h3{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
h3{font-size:calc(1.3rem + .6vw);}
@media (min-width:1200px){
h3{font-size:1.75rem;}
}
p{margin-top:0;margin-bottom:1rem;}
ul{padding-left:2rem;}
ul{margin-top:0;margin-bottom:1rem;}
b{font-weight:bolder;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
/* @media (min-width:576px){
.container{max-width:540px;}
} 
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
@media (min-width:1400px){
.container{max-width:1320px;}
}
.col-auto{flex:0 0 auto;width:auto;}
.col-12{flex:0 0 auto;width:100%;}
@media (min-width:576px){
.col-sm-6{flex:0 0 auto;width:50%;}
}
@media (min-width:768px){
.col-md-6{flex:0 0 auto;width:50%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.offset-lg-1{margin-left:8.33333333%;}
} */
@media (min-width:1200px){
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-3{flex:0 0 auto;width:25%;}
}
.justify-content-center{justify-content:center!important;}
.text-center{text-align:center!important;}
.text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;}
.text-white{--bs-text-opacity:1;color:rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;}
.bg-dark{--bs-bg-opacity:1;background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;}
.bg-black{--bs-bg-opacity:1;background-color:rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;}
/*! CSS Used from: https://htmldemo.net/oestin/oestin/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-heart:before{content:"\f004";}
/*! CSS Used from: https://htmldemo.net/oestin/oestin/css/shortcode/shortcodes.css */
/*! @import https://htmldemo.net/oestin/oestin/css/shortcode/default.css */
h3{color:#444;margin:0;font-family:'Raleway', sans-serif;font-weight:700;}
a{-webkit-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;}
a:focus{text-decoration:none;outline:0px solid;}
a:focus,a:hover{color:#303030;text-decoration:none;}
a:active,a:hover{outline:0 none;}
a{outline:medium none;color:#606060;-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
::selection{background:#b3d4fc;text-shadow:none;color:#fff;}
p{line-height:24px;font-size:15px;}
ul{list-style:outside none none;margin:0;padding:0;}
.text-white{color:#fff;}
.mb-60{margin-bottom:60px;}
.mb-n60{margin-bottom:-60px;}
.bg-black{background:#010101;}
.bg-dark{background:#131313 none repeat scroll 0 0;}
@media (min-width: 576px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container{max-width:720px;}
}
@media (min-width: 992px){
.container{max-width:960px;}
}
@media (min-width: 1200px){
.container{max-width:1200px;}
}
@media (min-width: 1400px){
.container{max-width:1200px;}
}
.row{--bs-gutter-x:30px;}
/*! end @import */
/*! @import https://htmldemo.net/oestin/oestin/css/shortcode/footer.css */
.footer-area{color:#f7f7f7;}
.footer-widget-area{padding:130px 0 61px;}
.footer-logo > a{display:inline-block;}
.footer-logo{margin-bottom:29px;}
.social-icons a{border:1px solid #b1b1b1;color:#b1b1b1;display:inline-block;font-size:20px;height:33px;line-height:31px;margin-right:13px;text-align:center;-webkit-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;width:33px;}
.social-icons > a:last-child{margin-right:0;}
.social-icons > a:hover{background:#b5876d none repeat scroll 0 0;border-color:#b5876d;color:#ffffff;}
.social-icons{margin-top:43px;}
.single-footer-widget > h3{color:#ffffff;font-size:18px;line-height:14px;margin-bottom:45px;text-transform:uppercase;}
.footer-list li{margin-bottom:4px;}
.footer-list a{color:#f7f7f7;font-size:15px;line-height:26px;}
.footer-list li a{-webkit-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.footer-list li a:hover{color:#b5876d;}
.c-info > span:last-child{display:block;font-size:15px;line-height:24px;padding-left:50px;}
.c-info > span:first-child{border:1px solid #ffffff;color:#b5876d;display:inline-table;font-size:18px;height:33px;left:0;position:absolute;text-align:center;top:7px;-webkit-transition:all 0.2s linear 0s;transition:all 0.2s linear 0s;width:33px;}
.c-info > span:first-child i{display:table-cell;vertical-align:middle;}
.c-info{margin-bottom:17px;overflow:hidden;position:relative;}
.c-info:hover > span:first-child{background:#ffffff none repeat scroll 0 0;}
.instagram-image{overflow:hidden;display:grid;grid-template-columns:repeat(3, 1fr);gap:10px;}
.footer-img a img{width:100%;object-fit:cover;}
.footer-img a{width:100%;}
.footer-img a{display:inline-block;position:relative;}
.footer-img a:before{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;bottom:0;height:100%;left:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";position:absolute;right:0;top:0;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;visibility:hidden;width:100%;content:"";}
.footer-img a:hover:before{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-webkit-transform:scaleY(1);transform:scaleY(1);visibility:visible;}
.footer-img a:after{color:#ffffff;content:"ï†Ž";font-family:"Material-Design-Iconic-Font";font-size:22px;left:50%;margin:auto;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";position:absolute;text-align:center;top:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transition:all 0.5s ease 0s;transition:all 0.5s ease 0s;}
.footer-img a:hover:after{opacity:1;filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.footer-bottom-area{padding:24px 0;}
.footer-text span a{color:#b5876d;}
.footer-text span a:hover{border-bottom:1px solid #b5876d;}
.footer-text > span{display:block;}
/*! end @import */
/*! @import https://htmldemo.net/oestin/oestin/css/material-design-iconic-font.css */
.zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.zmdi-email:before{content:'\f15a';}
.zmdi-pin:before{content:'\f1ab';}
.zmdi-phone:before{content:'\f2be';}
.zmdi-facebook:before{content:'\f343';}
.zmdi-instagram:before{content:'\f34f';}
.zmdi-twitter:before{content:'\f360';}
.zmdi-rss:before{content:'\f3ea';}
.zmdi-pinterest:before{content:'\f3fc';}
.zmdi-email:before{content:'\f15a';}
.zmdi-pin:before{content:'\f1ab';}
.zmdi-phone:before{content:'\f2be';}
.zmdi-facebook:before{content:'\f343';}
.zmdi-instagram:before{content:'\f34f';}
.zmdi-twitter:before{content:'\f360';}
.zmdi-rss:before{content:'\f3ea';}
.zmdi-pinterest:before{content:'\f3fc';}
/*! end @import */
/*! @import https://htmldemo.net/oestin/oestin/css/material-design-iconic-font.min.css */
.zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.zmdi-email:before{content:'\f15a';}
.zmdi-pin:before{content:'\f1ab';}
.zmdi-phone:before{content:'\f2be';}
.zmdi-facebook:before{content:'\f343';}
.zmdi-instagram:before{content:'\f34f';}
.zmdi-twitter:before{content:'\f360';}
.zmdi-rss:before{content:'\f3ea';}
.zmdi-pinterest:before{content:'\f3fc';}
.zmdi-email:before{content:'\f15a';}
.zmdi-pin:before{content:'\f1ab';}
.zmdi-phone:before{content:'\f2be';}
.zmdi-facebook:before{content:'\f343';}
.zmdi-instagram:before{content:'\f34f';}
.zmdi-twitter:before{content:'\f360';}
.zmdi-rss:before{content:'\f3ea';}
.zmdi-pinterest:before{content:'\f3fc';}
/*! end @import */
/*! CSS Used from: https://htmldemo.net/oestin/oestin/style.css */
a{text-decoration:none;}
/*! CSS Used from: https://htmldemo.net/oestin/oestin/css/responsive.css */
@media (min-width: 1920px){
.container{width:1230px;max-width:100%;}
}
@media (min-width: 768px) and (max-width: 991px){
.container{width:750px;max-width:100%;}
.social-icons > a{margin-right:10px;}
.c-info > span:last-child{padding-left:42px;}
.footer-img img{width:68px;}
}
@media (max-width: 767px){
.footer-widget-area{padding:60px 0;}
.single-footer-widget > h3{margin-bottom:20px;}
.c-info:last-child{margin:0;}
.footer-img img{width:82px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
.footer-img img{width:62px;}
}


#show-results-div{
        max-height: 500px;
        background-color: #FFFFFF;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        overflow: scroll;
        visibility: hidden;
       
    }
#mainimg{
  width: 80%;
  margin-right: 1%;
}

#imgDiv{
  width: 10%;
}
    #mainDiv{
      display: flex;
      flex-direction: row;
      cursor: pointer;
      width: 90%;
      height: 4%;
      margin: 1%;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }



    